# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Ignore PNGs everywhere EXCEPT output
*.png
!output/
!output/*.png

# Model weights & large data
*.pth
*.pt
*.npz

# Logs
*.log

# OS
Thumbs.db
.DS_Store

